<div id="ticket">
  <div class="page-header">
    <h1><%= @project.name %></h1>
  </div>

  <div class="page-header">
    <h2><%= @ticket.title %></h2>

    <ul class="actions">
      <li><%= link_to "Edit Ticket", [:edit, @project, @ticket],
        class: "edit" %></li>
    </ul>
  </div>

  <%= simple_format(@ticket.description) %>
</div>
